body {
    background-image: url("../images/pow-star.png");
}

.heading {
    background: rgb(38, 224, 21);
    color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.directions {
    background: rgb(7, 180, 180);
    color: white;
    margin-top: 10px;
}

.number-holder {
    margin-top: 10px;
    margin-right: 10px;
    background: rgb(180, 76, 180);
    color: white;
    font-size: 30px;
}

.count-holder {
    margin-top: 10px;
    background: rgb(179, 64, 83);
    color: white;
    /* padding: 10px; */
    text-align: left;
}

.crystals {
    margin-top: 10px;
    cursor: pointer;
    background: black;
    margin-right: 10px;
}

.crystals img {
    height: 75px;
    width: 65px;
}

.bottom {
    background: orange;
    color: white;
    margin-top: 10px;
}

.bottom-score {
    background: orange;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

#message {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 40px;
}

.messages {
    background: rgb(18, 185, 207);
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 400px) {
    .crystals img {
        height: 40px;
        width: 40px;
        background: black;
    }
    .crystals {
        margin-right: 40px;
        background: none;
    }
    .count-holder {
        padding-right: 80px;
    }
    .heading {
        padding-right: 200px;
    }
    #message {
        font-size: 30px;
    }
}